/***************Header*************************/
#container_0{
    
    display: flex;
    justify-content: left;
}


/**************Search elements****************/
#container_1{    
    display: flex;
    justify-content: center;
}

#pokeName_searchbox{

    height: 40px;
    margin: 20px;
    font-size: 20px;
}

#search_btn{
    border-radius: 6px;
    border-color: #000000;
    background-color: aliceblue;
    border-width: 2px;
    height: 75px;
    width: 200px;
    margin-top: 5px;
    font-size: 30px;
    transition: .4s;
}

#search_btn:hover{
    cursor: pointer;
    background-color: #50cdec;
}

/****************Pokemon spirites******************/

.spirites_img{
    visibility: hidden;
}

#container_2{
    
    display: flex;
    justify-content: center;
}

#pokeball_spirite{
    margin: 10px;
    cursor: pointer;
}

/*************Pokemon stats****************/

#container_3{
    
    display: flex;
    justify-content: center;
}

#container_stats_1{
    display: block;
    
}

#container_stats_2{
    display: block;
    

}

.text{
    background-color: white;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    margin: 10px;
}
/*********************Moves sections********************/
#container_5{

    display: flex;
    justify-content: center;

}

#container_move_1{
    display: block;
}

#container_move_2{
    display: block;
}
/*********************Types sections********************/
#container_4{
    display: flex;
    justify-content: center;
}
/*******************************************************/

body{
    background-image: url("../assets/background.webp");
    background-size: cover;
}